<h1>Servie by using Angular</h1>
<button #myButton (click)="onClickButton()">Click Me</button>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque pariatur 
    explicabo illo, repudiandae atque nam esse consequatur fugiat quis 
    repellendus eaque id consequuntur qui est nostrum dignissimos officiis
     saepe eos!</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos dolorum reprehenderit in culpa modi? Hic ipsum unde neque repudiandae cupiditate id nihil architecto ratione similique placeat voluptates ipsam, quisquam doloribus nam? In eligendi, dolorum ullam harum maxime facilis voluptas est earum sit unde? Quibusdam laborum dolores pariatur consequuntur ipsam in ratione sunt possimus quia nemo libero, nobis voluptatum ducimus illo ullam. Vero blanditiis ea,
         repellat fugiat earum animi quas! Amet?</p>
         <h1>Hby using Servie we create a button</h1>
         <button #myButton (click)="onClickButton()">Click Me</button>
         <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-head" style="background-color: antiquewhite;">
                        DOCUMENTS
                    </div>
                    <div class="card-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis tempore odio earum facilis neque 
                    obcaecati a quas dolore magnam incidunt.</p>
                    <button #myButton (click)="onClickButton()">more details</button>
                
                </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-head" style="background-color: green;">
                        DOCUMENTS
                    </div>
                    <div class="card-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis tempore odio earum facilis neque 
                    obcaecati a quas dolore magnam incidunt.</p>
                    <button #myButton (click)="onClickButton()">more details</button>
                
                </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-head" style="background-color: green">
                        DOCUMENTS
                    </div>
                    <div class="card-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis tempore odio earum facilis neque 
                    obcaecati a quas dolore magnam incidunt.</p>
                    <button #myButton (click)="onClickButton()">more details</button>
                
                </div>
                </div>
            </div>

         </div>
         

         









